@import "tailwindcss";
@plugin "daisyui" {
  themes: light --default, dark --prefersdark, cupcake;
}
@plugin "daisyui/theme" {
  name: "light";
  default: true;
  --color-primary: #3d7be0;
  --color-primary-content: white;
  --color-secondary: #4682A9;
  --color-secondary-content: black;
}
@plugin "daisyui/theme" {
  name: "dark";
 --color-primary: #3d7be0;
  --color-primary-content: white;
  --color-secondary: #4682A9;
  --color-secondary-content: black;
}

html {
  scroll-behavior: smooth;
}
.active {
  border-bottom: 2px solid var(--color-primary);
}
